nav {
    background-color: rgb(139, 139, 235);
    margin: 0px;
}

body {
    min-height: 100%;
    margin: 0px;
}

main {
    border-style: double;
    margin: 0px;
    border-color: rgb(0, 132, 255);
    background-color: rgb(204, 140, 204);
}

footer {
    background-color: rgb(106, 82, 151);
}